@page
@using DHF_Viewer_WebApp.Models
@model DHF_Viewer_WebApp.Pages.Categories.UpdateModel;
@{
}

@if(TempData["success"]!=null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
}

<form class="d-flex align-items-center justify-content-center">
    <input hidden asp-for="UserInput._rev" class="form-control" value="@Model.UserInput._rev" />
    <div class="w-75 p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Searched Document Data</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="UserInput._id" class="mb-1">Document Number</label>
            <input asp-for="UserInput._id" class="form-control" value="@Model.UserInput._id" />
            <span asp-validation-for="UserInput._id" class="text-danger"></span>
        </div>
        <div></div>
        <div class="mb-3">
            <label asp-for="UserInput.Title" class="mb-1"></label>
            <input asp-for="UserInput.Title" class="form-control" value="@Model.UserInput.Title"/>
            <span asp-validation-for="UserInput.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInput.Revision" class="mb-1"></label>
            <input asp-for="UserInput.Revision" class="form-control" value="@Model.UserInput.Revision" />
            <span asp-validation-for="UserInput.Revision" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInput.Product" class="mb-1"></label>
            <input asp-for="UserInput.Product" class="form-control" value="@Model.UserInput.Product" />
            <span asp-validation-for="UserInput.Product" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInput.Type" class="mb-1"></label>
            <input asp-for="UserInput.Type" class="form-control" value="@Model.UserInput.Type"/>
            <span asp-validation-for="UserInput.Type" class="text-danger"></span>
        </div>
        <a asp-page="search" class="btn btn-outline-primary" style="width:110px">Back</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
