@page
@using DHF_Viewer_WebApp.Models
@model DHF_Viewer_WebApp.Pages.Categories.UpdateModel;
@{
}

@if(TempData["success"]!=null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
}

<form method="post">
    <div class="border-bottom p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Document Data</h2>
            <hr />
        </div>
        <input hidden asp-for="UserInput._rev" class="form-control" value="@Model.UserInput._rev" />
        <div class="mb-3">
            <label asp-for="UserInput._id">Document Number</label>
            <input asp-for="UserInput._id" class="form-control" value="@Model.UserInput._id" />
            <span asp-validation-for="UserInput._id" class="text-danger"></span>
        </div>
        <div></div>
        <div class="mb-3">
            <label asp-for="UserInput.Title"></label>
            <input asp-for="UserInput.Title" class="form-control" value="@Model.UserInput.Title"/>
            <span asp-validation-for="UserInput.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInput.Revision"></label>
            <input asp-for="UserInput.Revision" class="form-control" value="@Model.UserInput.Revision" />
            <span asp-validation-for="UserInput.Revision" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInput.Product"></label>
            <input asp-for="UserInput.Product" class="form-control" value="@Model.UserInput.Product" />
            <span asp-validation-for="UserInput.Product" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInput.Type"></label>
            <input asp-for="UserInput.Type" class="form-control" value="@Model.UserInput.Type"/>
            <span asp-validation-for="UserInput.Type" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Update Data</button>
        <a asp-page="update" class="btn btn-primary">Reset Form</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
